<!DOCTYPE html>
<html lang="en">
<head>
    <title>payment/checkout</title>
    <script src="https://js.braintreegateway.com/js/braintree-2.20.0.js"></script>
    
</head>
  <body>
  {{request.session.braintree_client_token7}}
    <form id="creditcard_form" method="post" action="{% url 'payment:checkout_view' %}">
        <!-- input elements for non-sensitive user data -->
        <label for="cc_number">Card number</label>
        <div id="cc_number"></div>
        <label for="cc_expiration_month">Expiration month</label>
        <div id="cc_expiration_month"></div>
        <label for="cc_expiration_year">Expiration year</label>
        <div id="cc_expiration_year"></div>
        <label for="cc_verification_code">CVV</label>
        <div id="cc_verification_code"></div>
        <button>submit</button>
    </form>
  <script type="text/javascript">
    braintree.setup(
        "{{ request.session.braintree_client_token }}",
        "custom",
        {
            id: "creditcard_form",
            hostedFields: {
                number: {
                    selector: "#cc_number"
                },
                expirationMonth: {
                    selector: "#cc_expiration_month"
                },
                expirationYear: {
                    selector: "#cc_expiration_year"
                },
                cvv: {
                    selector: "#cc_verification_code"
                },
            },
        }
    );
    </script>
  </body>
</html>


