{% extends 'base.html' %}

{% block name %}
{#    {{ name }} | {{ block.super }}#}
    Reset Password | {{ block.super }}
{% endblock %}

{% block body %}
    <div class="col-sm-offset-3 col-sm-6">
        <h1>Reset Password</h1>
{#        <h1>{{ name }}</h1>#}
        <p>
            Forgotten your password? Enter your email address below,
            and we'll email instructions for setting a new one.
        </p>
        <br>
        <br>
{#        {% include 'includes/form.html' %}#}
        <form action="" method="POST">
            {% csrf_token %}
            {{ form.as_p }}
            <input type="submit" value="Reset Password" class="btn btn-primary">
        </form>
    </div>
{% endblock %}
