{% extends 'base.html' %}

{% block name %}
    {{ name }} | {{ block.super }}
{#    Reset Password | {{ block.super }}#}
{% endblock %}

{% block body %}
    <div class="col-sm-offset-3 col-sm-6">
        <br>
        <h1>{{ name }}!</h1>
{#        <h1>Reset Password!</h1>#}
        {% if validlink %}
            <p>
                Please enter your new password twice so we can verify you typed it in correctly.
            </p>
            <br>
            <form action="" method="POST">
                {% csrf_token %}
                {{ form.as_p }}
                <input type="submit" value="Reset Password" class="btn btn-primary">
            </form>
        {% else %}
            <p>
                The password reset link was invalid,
                possibly because it has already been used.
                Please request a new password reset.
            </p>
        {% endif %}
    </div>
{% endblock %}