{% extends 'base.html' %}

{% block name %}
    {{ name }} | {{ block.super }}
{% endblock %}

{% block body %}
    <div class="col-sm-offset-3 col-sm-6">
        <br>
        <h1>{{ name }}!</h1>
{#        <h1>Password reset complete!</h1>#}
        <p>
            Your password has been set.
            You may go ahead and log in now.
        </p>
        <br>
        <a href="{% url 'accounts:login' %}">Login</a>
    </div>
{% endblock %}