    <html>

        <body>
                <h1 style="color: black;">Hi {{ user }},</h1>

                <p style="background-color: yellow;">please find the link below to reset the password:</p>

                <p style="color: red;background-color: yellow;">https://testphobizui.herokuapp.com/sessions/reset-password/{{ token }}</p>

        </body>
    </html>