<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>booking updated</title>
</head>
<body>
    <h6>Booking got Updated</h6>
    <p>Current Booking Details</p>
        {% for i,j in current_book_obj %}
            {{i}}-{{j}}
        {% endfor %}

    <p>Updated Booking Details</p>
    {% for i,j in booking_updated_obj %}
        {{i}}-{{j}}
    {% endfor %}
 
</body>
</html>