<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Onbooking</title>
</head>
<body>
    <h6>Current Booking Details</h6>
        {% for i,j in current_book_obj %}
            {{i}}-{{j}}
        {% endfor %}

    <h6>  Current Booking is {{current_book_obj.state}} & Waiting for the Vendor Approval.Please respond asap.</h6>

    <h6>Note >></h6>
    <p>This Booking Needs to be Responded asap from the Vendor; Once status is changed User will be Notified.</p>
    {% if current_book_obj.reporting_address %}
        <p>Reporting Address -  {{current_book_obj.reporting_address}} - to {{current_book_obj.reporting_address}}</p>
    {% endif %}    
    {% if current_book_obj.state %}
        <p>Current State -  {{current_book_obj.state}}</p>
    {% endif %}    
</body>
</html>