<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Onbooking</title>
</head>
<body>
    <h6>Current Booking Details</h6>
        {% for i,j in current_book_obj %}
            {{i}}-{{j}}
        {% endfor %}

    <h6>  Current Booking is {{booking.state}} & Waiting for the Vendor / Service Provider Approval.Please respond asap.</h6>

    <h6>Note >></h6>
    <p>You will be notified asap Vendor Responds.</p>
</body>
</html>