<!DOCTYPE html>
<html>
<head>
  <title>Braintree Shopon Sandbox</title>
  <style>
  .card-input {
  border: 1px solid #ECECEC;
  font-family: 'Montserrat', sans-serif;
  height: 32px;
  margin-bottom: 18px;
  padding: 4px 8px;
}
.sub-body {
  background: #FFFFFF;
  border-radius: 20px;
  box-shadow: 0 10px 30px 5px rgba(0,0,0,0.1);
  margin: 0 auto;
  overflow: hidden;
  transition: all 0.2s;
  width: 540px;
  height:70%
}
label {
  display: block;
  font-family: 'Bitter', serif;
  font-size: 12px;
  letter-spacing: 1px;
  margin-bottom: 4px;
  margin-left: 10px;
  text-align: left;
  text-transform: uppercase;
}
body{
padding-left:25%
}
h1,h2,h3,h4,h5,h6{
  color:gray;
}


  </style>
</head>
<body>



<h4>One more step</h4>
 <p>Please select the correct username for you and submit</p>
<form action="" method="post">
{% csrf_token %}
    <select name="current_vendor_username">
    {% for vendor in vendors_username %}
        <option value="{{vendor}}">{{ vendor }}</option>
    {% endfor%}  
    
    <input  type = "submit" value="Submit">
  </select>   

</form>  
</body>
</html>
