<!DOCTYPE html>
<html lang="en">
<head>
    <title>payment/checkout</title>
    <script src="https://js.braintreegateway.com/js/braintree-2.20.0.js"></script>
    
</head>
  <body>
  {{request.session.braintree_client_token7}}
   <form action="{% url 'payment:checkout_view' %}" method="post" >
      <label for="team_name">Enter name: </label>
      <input id="team_name" type="text" name="name_field" value="Default name for team.">
      <input type="submit" value="OK">
  </form>
   
   </body>
</html>


