{% extends 'custom_layout.html' %}
{% block content %}

<div class="sub-body">
  <header class="header">
    <h2>please try making a payment here</h2>
    {% comment %} <h1 class="price"><span class="price__dollar">$</span>15.00<span class="price__time">/ mo</span></h1>
    <p class="desc">Chicharrón Subscription</p> {% endcomment %}
  </header>

  <div class="pay-select">
    <div class="pay-select__item pay-select--card is-active">
      <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/346994/Card%20Icon.svg" alt="" />
      <p>Debit/Credit Card</p>
    </div>

    <div class="separator"></div>

    <div class="pay-select__item pay-select--paypal">
      <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/346994/Pp%20Icon.svg" alt="" />
      {% comment %} <p>PayPal</p> {% endcomment %}
    </div>
  </div>

  <div class="select-body">
    <div class="select-body__content select-body--card is-active">
      <form method="post" action="/payment/checkout" id="cardForm">
       {% csrf_token %}
        <label class="form__label" for="amount">Ammount</label>
        <input type="number" type="number" placeholder="$10.00" step="0.01" min="0" id="amount" name="amount"></input>
        <hr/>
        <input type="hidden" value="test123" name="custom1" id="custom1_nonce"></input>
        <label class="form__label" for="card-number">Card Number</label>
        <div class="card-input" id="card-number"></div>

        <label class="form__label" for="expiration-month">Expiration Date</label>
        <div class="date__container">
          <div class="card-input" id="expiration-month"></div>

          <div class="card-input" id="expiration-year"></div>
        </div>

        <label class="form__label" for="cvv">CVV</label>
        <div class="card-input" id="cvv"></div>

        <label class="form__label" for="cvv">Billing Zip Code</label>
        <div class="card-input" id="postal-code"></div>
        
        <input type="submit" value="Subscribe" id="submit" />
      </form>
    </div>    
  </div>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js" ></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js" ></script>



<script src="https://js.braintreegateway.com/web/3.43.0/js/client.min.js"></script>
<!-- Load Hosted Fields component. -->
<script src="https://js.braintreegateway.com/web/3.43.0/js/hosted-fields.min.js"></script>
<script>
        // Hosted fields example

    var form = document.querySelector('#cardForm');
    var submit = document.querySelector('#submit');

    braintree.client.create({
    authorization: "{{client_token}}"
    }, function(err, client) {
    if (err) {
        console.error(err);
        return;
    }

    braintree.hostedFields.create({
        client: client,
        styles: {
        'input, select': {
            'font-size': '16px',
            'font-family': 'helvetica, tahoma, calibri, sans-serif',
            'color': '#000'
        },
        ':focus': {
            'color': '#000'
        },
        '.invalid': {
            'color': '#EB5757'
        }

        },
        fields: {
        number: {
            selector: '#card-number',
            placeholder: '4111 1111 1111 1111',
        },
        cvv: {
            selector: '#cvv',
            placeholder: '123'
        },
        expirationMonth: {
            selector: '#expiration-month',
            placeholder: 'Month',
            select: {
            options: [
                '01 - January',
                '02 - February',
                '03 - March',
                '04 - April',
                '05 - May',
                '06 - June',
                '07 - July',
                '08 - August',
                '09 - September',
                '10 - October',
                '11 - November',
                '12 - December'
            ]
            }
        },
        expirationYear: {
            selector: '#expiration-year',
            placeholder: 'Year',
            select: true
        },
        postalCode: {
            selector: '#postal-code',
            placeholder: '6000'
        }
        }
    }, function(err, hostedFields) {
        if (err) {
        console.error(err);
        return;
        }

        submit.removeAttribute('disabled');

        form.addEventListener('submit', function(event) {
        event.preventDefault();
        hostedFields.tokenize(function(err, payload) {
            if (err) {
            console.error(err);
            return;
            }

            // If this was a real integration, this is where you would
            // send the nonce to your server.
            var custom1_nonce = document.getElementById("custom1_nonce");
            custom1_nonce.value = payload.nonce
            console.log('custom1_nonce',custom1_nonce) 
            console.log('Got a nonce: ' + payload.nonce);
            HTMLFormElement.prototype.submit.call(form)
        });
        });
    });
    });


    // Tab selection
    $('.pay-select__item').on('click', function(){
    $('.pay-select__item').removeClass('is-active');
    $(this).addClass('is-active');
    
    if($(this).hasClass('pay-select--card')) {
        $('.select-body__content').removeClass('is-active');
        $('.select-body--card').addClass('is-active');
    } else {
        $('.select-body__content').removeClass('is-active');
        $('.select-body--paypal').addClass('is-active');
    }
    });
</script>
{% endblock %}
