<!DOCTYPE html>
<html>
<head>
  <title>Stripe Shopon Sandbox</title>
  <style>
  body{
    align-content: center;
	align-items: center;
    padding-left:30%;
    color:gray;
}
  }
  .card-input {
  border: 1px solid #ECECEC;
  font-family: 'Montserrat', sans-serif;
  height: 32px;
  margin-bottom: 18px;
  padding: 4px 8px;
}
.sub-body {
  background: #FFFFFF;
  border-radius: 20px;
  box-shadow: 0 10px 30px 5px rgba(0,0,0,0.1);
  margin: 0 auto;
  overflow: hidden;
  transition: all 0.2s;
  width: 540px;
  height:70%
}
label {
  display: block;
  font-family: 'Bitter', serif;
  font-size: 12px;
  letter-spacing: 1px;
  margin-bottom: 4px;
  margin-left: 10px;
  text-align: left;
  text-transform: uppercase;
}


  </style>
</head>
<body>
{% load static %}
    <p>As this is the standard Stripe payment integration => the User need to have an account with stripe already; That User can use with us to process the payments; please procceed below!</p>
    <h1>We can Use this button anywhere we want on front end using this link below</h1>
   
<br>
  <a href="https://connect.stripe.com/oauth/authorize?response_type=code&amp;client_id=ca_FfXxBo0PCBMipWR858RsC7E5Mh1qjxCY&amp;scope=read_write" class="connect-button"><span><img src="{% static 'payment/blue-on-dark.png' %}"></span></a>
  
</body>
</html>